/* A fluid template for business or fun */
/* By Dave Reeder, www.davereederdesign.com */

body { margin: auto; padding: 0; background: #111;max-width: 1024px; }

* {margin: 0; padding: 0; border: 0; font-family: Verdana, Arial, sans-serif; }


/*----------------------------------------------Basic styles------------------------------------------------*/

p, h1, h2, h3, span#copyright { margin: 0 10px; color: #fff; font-weight: normal}
h1, h2, h3, h4 {margin-top: 5px; color: #CCFF00; font-style: italic}
h2 { font-style: normal; }

p { font-size: 0.75em; line-height: 1.6em; text-align: justify }
h1 {float: left; font-style: italic; margin-top: 40px; margin-left: 30px; font-size: 1.75em; line-height: 1.75em; letter-spacing: 0.20em}	/* site heading */
h1 a {color: #333; text-decoration: none}
h1 a:hover {color: #333; text-decoration: underline}

h2 { font-size: 1.30em; line-height: 2.40em; font-weight: bold; }	/* site heading */
h3 { font-size: 1.10em; line-height: 1.60em; font-weight: bold; }				/* sub headings */
span#copyright { font-size: 13px; line-height: 35px; color: #000 }

div { padding: 10px 0;}

a {color: #00CCFF; text-decoration: none; font-style: italic}
a:hover {color: #fff; text-decoration: underline}

ul, ol {margin: 10px; color: #fff; font-size: 0.70em; line-height: 1.6em}
ul {list-style: square inside}
ol {list-style: decimal inside}
em {font-weight: bold; font-style: normal}


/*---------------------------------------------Layout------------------------------------------------------*/

#hdr {
	padding: 0;
	width: 100%;
	background: url(images/hdrgrn.jpg) repeat-x 0 bottom #CCFF00;
	height: 200px;
}

.rowcontainer {	/* Used to keep the divs in a row.  you can use this for any size of divs */
	float: left;
	margin-top: 5px;
	width: 100%;
	overflow: hidden;
	background: #222;
}

#navbar {position: relative; width: 100%; height: 2.0em; background: #111}

#bttmbar {float: left; width: 100%; height: 4em; line-height: 4em; text-align: center; font-size: 0.80em; background: url(images/hdrgrn.jpg) repeat-x 0 50% #CCFF00; overflow: hidden}
#bttmbar a {color: #000; text-decoration: underline; font-style: normal}
#bttmbar a:hover {text-decoration: none}

/*---------------------------------------------Main Nav------------------------------------------------------*/

ul#nav {margin: 0; position: absolute; bottom: 0; left: 10px; list-style: none inside; background: #111}
ul#nav li {float: left; margin-right: 1px}

ul#nav a {
	font-weight: bold;
	display: block;
	width: 8em;
	height: 2.50em; 
	line-height: 2.50em;
	padding-left: 10px;
	text-decoration: none
}

ul#nav li a:link, ul#nav li a:visited  {
	background: #444;
	color: #fff
}

ul#nav li a:hover, ul#nav li a:active {
	color: #00CCFF;
	background: #555
}

ul#nav li a.current {background: #CCFF00; color: #000}
ul#nav li a.current:hover {background: #CCFF00; color: #00CCFF}

/*---------------Columns: Note they dont add up to 100%, this is intentional to avoid problems!-----------*/ 


.fullcolumn {float: left; width: 99%;}		/* Full width column for a one column site */

.threequartercolumn {float: left; width: 74%;}		/* Three quarter width column for a two column site, pair with the onethirdcolumn div class */
			
.halfcolumn {float: left; width: 49%;}		/* Half width column for a two column site. */

.onethirdcolumn {float: left; width: 33%; }		/* One third width column for a three column site */

.onequartercolumn {float: left; width: 24.5% }		/* One quarter width column for a four column site */